<!doctype html>
<html>
<head>
  <title>Advanced relationships Mongo</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/users">Users</a></li>
      <li><a href="/users/new">New User</a></li>
      <li><a href="/posts">Posts</a></li>
      <li><a href="/posts/new">New Post</a></li>
    </ul>
  </nav>
  <%- body %>
</body>
</html>